h1 #{name}, привет!
p Вы зарегистрировались на сайте badteachers.ru! Вам необходимо подтвердить вашу почту, пожалуйста, перейдите по ссылке:
    a(href=`${link}`) #{link}
    br/br/ Если это были не Вы, то просто проигнорируйте это письмо!
